@tailwind base;
@tailwind components;
@tailwind utilities;

/* 

Background: slate-950 (#020617)

Surface: slate-900 (#0f172a)

Borders: slate-800 (#1e293b)

Text: slate-100 (#e2e8f0)

Muted text: slate-400 (#94a3b8)

Brand: blue-600 (#2563eb) → hover blue-700 (#1d4ed8)

Focus ring: blue-400 (#60a5fa)

*/

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }

}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* .glassCard {
  --border-width: 1px;
  border-radius: 1rem;
  position: relative;
  padding: 15px;
  background: hsl(from var(--surface-3) h s l / 0.25);
  backdrop-filter: blur(12px);
}

.glassCard::before {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  border-radius: inherit;
  border: var(--border-width) solid transparent;
  background: linear-gradient(var(--border-1), var(--border-2)) border-box;
  mask: linear-gradient(black, black) border-box,
    linear-gradient(black, black) padding-box;
  mask-composite: subtract;
} */